<a href="https://colab.research.google.com/github/HarshilWalia/AI/blob/master/Unsupervised_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading https://files.pythonhosted.org/packages/43/ff/74f23998ad2f93b945c0309f825be92e04e0348e062026998b5eefef4c33/fuzzywuzzy-0.18.0-py2.py3-none-any.whl
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [0]:
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from fuzzywuzzy import process

/usr/local/lib/python3.6/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [0]:
movies = "/content/drive/My Drive/Colab Notebooks/Unsupervised Learning (1)/movies.csv"
ratings = "/content/drive/My Drive/Colab Notebooks/Unsupervised Learning (1)/ratings.csv"

df_movies = pd.read_csv(movies, usecols=['movieId','title'], dtype={'movieId':'int32','title':'str'})
df_ratings = pd.read_csv(ratings, usecols=['userId','movieId','rating'], dtype={'userId':'int32','movieId':'int32','rating':'float32'})

In [0]:
df_movies.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [0]:
df_ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [0]:
df_ratings.describe()

              userId        movieId         rating
count  100836.000000  100836.000000  100836.000000
mean      326.127564   19435.295718       3.501557
std       182.618491   35530.987199       1.042541
min         1.000000       1.000000       0.500000
25%       177.000000    1199.000000       3.000000
50%       325.000000    2991.000000       3.500000
75%       477.000000    8122.000000       4.000000
max       610.000000  193609.000000       5.000000

In [0]:
movies_users=df_ratings.pivot(index='movieId', columns='userId',values='rating').fillna(0)
mat_movies_users=csr_matrix(movies_users.values)

In [0]:
model_knn= NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20)

def recommender(movie_name, data,model, n_recommendations ):
    model.fit(data)
    idx=process.extractOne(movie_name, df_movies['title'])[2]
    print('Movie Selected: ',df_movies['title'][idx], 'Index: ',idx)
    print('Searching for recommendations.....')
    distances, indices=model.kneighbors(data[idx], n_neighbors=n_recommendations)
    for i in indices:
        print(df_movies['title'][i].where(i!=idx))

In [0]:
entered_movie = input ("Enter a movie name :")

Enter a movie name :Usual Suspects

In [0]:
recommender(entered_movie, mat_movies_users, model_knn,20)

Movie Selected:  Usual Suspects, The (1995) Index:  46
Searching for recommendations.....
46                                            NaN
257                           Pulp Fiction (1994)
277              Shawshank Redemption, The (1994)
827                          Dirty Dancing (1987)
913                         Third Man, The (1949)
43                    Seven (a.k.a. Se7en) (1995)
510              Silence of the Lambs, The (1991)
659                         Godfather, The (1972)
520                                  Fargo (1996)
314                           Forrest Gump (1994)
2224        Home Alone 2: Lost in New York (1992)
461                       Schindler's List (1993)
921                    Blues Brothers, The (1980)
613                          Trainspotting (1996)
2144                      Yellow Submarine (1968)
1938                   Walk on the Moon, A (1999)
1733                              Vampires (1998)
897         Cheech and Chong's Up in Smoke (1978)
224     Star Wars: Episode IV - A New Hope (1977)
31      Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
Name: title, dtype: object